* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background-color: #f9fafb;
}

a {
  text-decoration: none;
}

button {
  transition: 0.3s ease;
}

button:hover {
  transform: scale(1.03);
}
